
/*  
===================================
        General Section CSS
===================================
*/
section.tools,
section.downloads {
    padding: 1.5rem 2rem;
}
.tools h1,
.downloads h1 {
    font-size: 2rem;
    color: white;
    font-weight: 400;
    margin-bottom: 2rem;
}
.tools ul,
.downloads ul {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.tools li,
.downloads li {
    margin: 0.5rem 0.5rem;
    height: 320px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: var(--col-bg2);
    padding: 0.5rem;
    box-shadow: 0 0 8px 3px #0008;
}
.tools li img,
.downloads li img {
    width: 50%;
    align-self: center;
}
.tools li hr,
.downloads li hr {
    margin: 1rem 0;
    border-color: var(--col-acc);
}
.tools li h4,
.downloads li h4 {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    margin-bottom: 0.3rem;
    text-align: center;
}
.tools li .version,
.downloads li .version {
    align-self: flex-end;
    margin-right: 0.5rem;
    font-size: 0.825rem;
    color: gray;
}
.tools li p,
.downloads li p {
    margin: 0.5rem 0 0.5rem;
    color: white;
    font-weight: 200;
    font-size: 0.8rem;
}
.tools li .links,
.downloads li .links {
    margin: auto 0 0.3rem 0.2rem;
    display: flex;
    align-content: center;
}
.tools li .links *:not(:first-child),
.downloads li .links *:not(:first-child) {
    margin-left: 0.5rem;
}
.tools li .links a,
.downloads li .links a {
    font-size: 0.9rem;
    border: 1px solid var(--col-acc2);
    border-radius: 4px;
    padding: 0.15rem 0.3rem;
    text-decoration: none;
    color: #ccc;
    transition: background-color 0.2s ease;
    display: flex;
    align-content: center;
}
.tools li .links a img,
.downloads li .links a img {
    height: 20px;
    width: 20px;
}
.tools li .links a:hover,
.tools li .links a:focus,
.downloads li .links a:hover,
.downloads li .links a:focus {
    background: #fff1;
}

.tools li .links .line,
.downloads li .links .line {
    height: 100%;
    border-left: 1px solid var(--col-acc2);
    display: inline-block;
}
/*  
=============================
        Responsivenes
=============================
*/
@media screen and (max-width: 1000px) {
    section.tools,
    section.downloads {
        padding: 1.5rem 3rem;
    }
    .tools ul,
    .downloads ul {
        margin: 0 1.2rem;
    }
}
@media screen and (max-width: 730px) {
    section.tools,
    section.downloads {
        padding: 0.75rem 1rem;
    }
    .tools ul,
    .downloads ul {
        margin: 0 1.2rem;
    }
    .tools li,
    .downloads li {
        height: 300px;
        width: 220px;
    }
    .tools li h4,
    .downloads li h4 {
        font-size: 0.9rem;
    }
    .tools li .version,
    .downloads li .version {
        margin-right: 0.45rem;
        font-size: 0.8rem;
    }
    .tools li p,
    .downloads li p {
        margin: 0.5rem 0 0.5rem;
        font-size: 0.75rem;
    }
    .tools li .links a,
    .downloads li .links a {
        font-size: 0.82rem;
        padding: 0.135rem 0.27rem;
    }
}
@media screen and (max-width: 600px) {
    section.tools,
    section.downloads {
        padding: 0.75rem 1.5rem;
    }
    .tools ul,
    .downloads ul {
        margin: 0 1.1rem;
    }
    .tools li,
    .downloads li {
        height: 280px;
        width: 190px;
    }
    .tools li h4,
    .downloads li h4 {
        font-size: 0.85rem;
    }
    .tools li .version,
    .downloads li .version {
        margin-right: 0.45rem;
        font-size: 0.74rem;
    }
    .tools li p,
    .downloads li p {
        margin: 0.5rem 0 0.5rem;
        font-size: 0.7rem;
    }
    .tools li .links a,
    .downloads li .links a {
        font-size: 0.8rem;
        padding: 0.125rem 0.25rem;
    }
}
@media screen and (max-width: 500px) {
    section.tools,
    section.downloads {
        padding: 0.5rem 1rem;
    }
    .tools ul,
    .downloads ul {
        margin: 0 1rem;
    }
    .tools li,
    .downloads li {
        height: 250px;
        width: 180px;
    }
    .tools li h4,
    .downloads li h4 {
        font-size: 0.8rem;
    }
    .tools li .version,
    .downloads li .version {
        margin-right: 0.4rem;
        font-size: 0.7rem;
    }
    .tools li p,
    .downloads li p {
        margin: 0.5rem 0 0.5rem;
        font-size: 0.65rem;
    }
    .tools li .links a,
    .downloads li .links a {
        font-size: 0.75rem;
        padding: 0.1rem 0.2rem;
    }
}