{
    "extends": "stylelint-config-standard",
    "rules": {
        "no-descending-specificity": null,
        "color-named": "always-where-possible",
        "function-disallowed-list": ["hsl", "hwb", "lab", "lch"]
    }
}
