@import '/styles/global.css';

/*  
======================
		Header
======================
*/
header {
    align-items: center;
    background: var(--col-bg3);
    display: flex;
    height: 5.5rem;
    padding: 0.3rem 0;
    position: static;
    width: 100%;
}

header img {
    margin-right: 1.5rem;
    width: 4rem;
}

header > span {
    display: flex;
}

header .name {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
}

header .version {
    align-self: flex-end;
    color: #ffffffa0;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.5rem;
}
#return-main {
    align-items: center;
    border-right: 3px solid #666;
    cursor: pointer;
    display: flex;
    margin: auto 0.5rem;
    padding: 0.6rem 1rem;
    transition: all 0.2s ease;
}
#return-main img {
    margin-right: 0;
    vertical-align: middle;
}
#return-main:hover {
    background: #fff1;
    box-shadow: 0 0 10px 0 #fff1;
}

/*  
=======================
		Imports
=======================
*/
.imports {
    display: flex;
    flex-direction: column-reverse;
    left: 1rem;
    position: absolute;
    transition: all 0.2s ease;
}
#show-imports {
    background: none;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 2rem;
    padding: 0.4rem 0;
    transition: all 0.2s ease;
    width: 3rem;
    z-index: 2;
}
#show-imports:hover {
    background: #fff1;
}
#show-imports i {
    transition: transform 0.2s ease;
}
.imports-list:not(.hidden) + #show-imports i {
    transform: scale(-1, 1);
}
.imports-list {
    background: var(--col-bg);
    border: 1px solid var(--col-acc);
    border-radius: 5px;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem;
    transition: all 0.2s ease;
    z-index: 2;
}
.imports-list.hidden {
    display: block;
    opacity: 0%;
    transform: translateX(-100%);
}
.dimmer {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    transition: opacity 0.2s;
    width: 100%;
    z-index: 1;
}
.dimmer.disallow-focusing {
    display: block !important;
    opacity: 0;
    z-index: -99;
}
.imports h1 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.imports h2 {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.6rem;
}
.imports h2 .tip {
    border: 1px solid var(--col-acc);
    border-radius: 999px;
    cursor: help;
    font-size: 0.6rem;
    padding: 0 0.2rem;
}
.imports .input-form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0.6rem 0 0 8px;
}
.imports .input-form input {
    background: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 3px;
    box-shadow: none;
    color: white;
    height: 100%;
    padding: 0.2rem 0.4rem;
}
.imports .input-form #color-import-submit {
    background: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 3px;
    color: var(--orange);
    font-weight: bold;
    height: 100%;
    margin-left: 0.6rem;
    padding: 0.2rem 0.3rem;
    transition: all 0.2s ease;
}
.imports .input-form #color-import-submit:hover {
    background: var(--col-bg3);
}
.imports .color-model {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.imports .color-model .btn-option {
    background: none;
    border: none;
    font-size: 12px;
    margin: 0.2rem 0.8rem;
    padding: 0.2rem 0.3rem;
    width: min-content;
}
.imports .color-model .option {
    align-items: center;
    background: var(--col-bg3);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: space-evenly;
    transition: all 0.3s ease;
    width: 6rem;
}
.imports .color-model .option span {
    color: var(--box-border);
}
.imports .color-model .option .dot {
    border: 2px solid var(--dot-border);
    border-radius: 999px;
    height: 1rem;
    transition: all 0.3s ease;
    width: 1rem;
}
.imports .color-model .option .dot::before {
    background: var(--orange);
    border-radius: 999px;
    content: '';
    height: 0.5rem;
    margin-left: 0.125rem;
    margin-top: 0.125rem;
    opacity: 0;
    position: absolute;
    width: 0.5rem;
}
.imports .color-model #option1:checked ~ .btn-option1 .option,
.imports .color-model #option2:checked ~ .btn-option2 .option {
    background: var(--orange);
}
.imports .color-model #option1:checked ~ .btn-option1 .option .dot,
.imports .color-model #option2:checked ~ .btn-option2 .option .dot {
    background: var(--imports-selected);
    border-color: var(--imports-selected);
}
.imports .color-model #option1:checked ~ .btn-option1 .option .dot::before,
.imports .color-model #option2:checked ~ .btn-option2 .option .dot::before {
    opacity: 1;
}
.imports .color-model #option1:checked ~ .btn-option1 .option span,
.imports .color-model #option2:checked ~ .btn-option2 .option span {
    color: var(--imports-selected);
}
.imports .color-model input {
    display: none;
}

/*  
====================
		Main
====================
*/
main {
    display: flex;
    flex-grow: 1;
    height: 100%;
    margin: 1rem 0;
}
main > section {
    display: flex;
    padding: 2rem 1rem 0;
    width: 50%;
}
/* inputs */
#inputs {
    align-items: center;
    border-right: 1px solid var(--col-acc);
    flex-direction: column;
}
.text-input {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.text-input span {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.text-input input {
    border: 2px dotted black;
    box-shadow: var(--state-shadow);
    display: block;
    font-family: Consolas, 'Times New Roman', Times, serif;
    font-size: 2em;
    padding: 8px;
    text-align: center;
    width: 5em;
}
.text-input .suggestions {
    height: 50px;
    margin-top: 0.5rem;
}
.text-input .suggestions-label {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;
}
.text-input .suggestions ul {
    display: flex;
}
.text-input .suggestions li {
    margin-left: 1.4rem;
}
.text-input .suggestions li a {
    border-bottom: 1px dotted currentColor;
    color: darkgray;
    cursor: help;
    font-family: monospace;
    font-size: 0.9rem;
    left: -6px;
    position: relative;
}
.text-input .suggestions ::marker {
    color: darkgray;
    font-size: smaller;
}
#picker {
    margin: 0;
}
/* color wheel fixes */
.IroWheel,
.IroSlider {
    border: 1px solid black;
    border-radius: 999px;
}
.IroWheel {
    cursor: move;
}
.IroSlider {
    cursor: ew-resize;
}
.IroWheelLightness {
    height: 101% !important;
    left: -1px !important;
    top: -1px !important;
    width: 101% !important;
}
.IroSlider {
    background: black !important;
}
/* color values */
.other-values {
    margin: 3.5rem 0 1rem 0;
}
.other-values * {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.other-values th {
    font-size: 1.2rem;
    font-weight: 500;
}
.other-values tr td:first-of-type span {
    margin-right: 1rem;
}
.other-values tr td:nth-of-type(2) {
    width: 220px;
}
.other-values tr td:nth-of-type(2) * {
    font-family: 'Fira Code', monospace;
}
.other-values tr td:nth-of-type(2) span:not([class]) {
    color: gray;
}
.other-values .red {
    color: red;
}
.other-values .green {
    color: #0f0;
}
.other-values .blue {
    color: blue;
}
.other-values .gray {
    color: darkgray;
}
.other-values .white {
    color: #eee;
}
/* outputs */
#outputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1.5rem;
}
#outputs a {
    height: max-content;
    width: max-content;
}
canvas {
    display: none;
}
.tooltip {
    border-bottom: 1px dotted white;
    color: white;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    position: relative;
}
.tooltip .tooltip-text {
    background-color: var(--col-bg3);
    border: 1px solid var(--col-acc2);
    border-radius: 6px;
    bottom: -5px;
    color: #fff;
    max-width: 300px;
    opacity: 0;
    padding: 5px 5px 5px 25px;
    position: absolute;
    right: 110%;
    text-align: left;
    /* fade animation */
    transition: all 0.2s ease;
    visibility: hidden;
    width: max-content;
    z-index: 1;
}
.tooltip > span:nth-child(1) {
    cursor: help;
}
.tooltip .tooltip-text::after {
    border-color: transparent transparent transparent var(--col-acc2);
    border-style: solid;
    border-width: 5px;
    bottom: 10px;
    content: '';
    left: 100%;
    margin-top: -5px;
    position: absolute;
}
.tooltip:hover .tooltip-text,
.tooltip:active .tooltip-text {
    opacity: 1;
    visibility: visible;
}
.tooltip .tooltip-text ul {
    list-style-type: disc;
}
.tooltip .tooltip-text li span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    left: -7px;
    position: relative;
}

/*  
=============================
		Responsivenes
=============================
*/
@media screen and (max-width: 630px) {
    header {
        height: 3.4rem;
    }
    header img {
        margin-right: 0.5rem;
        width: 3rem;
    }
    header .name {
        font-size: 1.25rem;
    }
    header .version {
        font-size: 0.8rem;
    }
    main {
        flex-direction: column;
        margin-top: 2rem;
    }
    .imports {
        top: 4.5rem;
    }
    main > section {
        padding: 3rem 1rem;
        width: 100%;
    }
    #inputs {
        border: none;
    }
    #outputs a,
    #outputs a img {
        height: 130px;
        width: 130px;
    }
    .text-input .suggestions-label {
        font-size: 0.8rem;
        line-height: 0.4rem;
    }
    .text-input .suggestions li a {
        font-size: 0.8rem;
    }
    .text-input,
    .text-input input {
        width: 130px !important;
    }
    .text-input span {
        font-size: 1rem;
        text-align: center;
    }
    .text-input input {
        font-size: 1.7rem;
    }
    .text-input .suggestions {
        height: 30px;
        margin-top: 0.5rem;
    }
    .other-values {
        font-size: 0.9rem;
        margin: 2.5rem 0 1rem 0;
    }
    .other-values tr td:nth-of-type(2) {
        width: 160px;
    }
    #return-main {
        padding: 0.3rem 0.8rem;
    }
}
@media screen and (max-width: 380px) {
    header .name {
        font-size: 1rem;
    }
    header .version {
        font-size: 0.6rem;
    }
}
