@import url("/styles/global.css");
@import url("/tools/common.css");

/*  
=======================
		Imports
=======================
*/
.imports {
    display: flex;
    flex-direction: column-reverse;
    left: 1rem;
    position: absolute;
    transition: all 0.2s ease;
}

#show-imports {
    background: none;
    border: none;
    border-radius: 4px;
    font-size: 2rem;
    padding: 0.4rem 0;
    transition: all 0.2s ease;
    width: 3rem;
    z-index: 2;
}

#show-imports:hover {
    background: #fff1;
}

#show-imports i {
    transition: transform 0.2s ease;
}

.imports-list:not(.hidden) + #show-imports i {
    transform: scale(-1, 1);
}

.imports-list {
    background: var(--col-bg);
    border: 1px solid var(--col-acc);
    border-radius: 5px;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem;
    transition: all 0.2s ease;
    z-index: 2;
}

.imports-list.hidden {
    display: block;
    opacity: 0;
    transform: translateX(-100%);
}

.dimmer {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    transition: opacity 0.2s;
    width: 100%;
    z-index: 1;
}

.dimmer.disallow-focusing {
    display: block !important;
    opacity: 0;
    z-index: -99;
}

.imports h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.imports h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.6rem;
}

.imports h3 .tip {
    border: 1px solid var(--col-acc);
    border-radius: 999px;
    cursor: help;
    font-size: 0.6rem;
    padding: 0 0.2rem;
}

.imports .input-form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0.6rem 0 0 8px;
}

.imports .input-form input {
    background: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 3px;
    box-shadow: none;
    height: 100%;
    padding: 0.2rem 0.4rem;
}

.imports .input-form #color-import-submit {
    background: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 3px;
    color: var(--orange);
    font-weight: bold;
    height: 100%;
    margin-left: 0.6rem;
    padding: 0.2rem 0.3rem;
    transition: all 0.2s ease;
}

.imports .input-form #color-import-submit:hover {
    background: var(--col-bg3);
}

.imports .color-model {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.imports .color-model .btn-option {
    background: none;
    border: none;
    font-size: 12px;
    margin: 0.2rem 0.8rem;
    padding: 0.2rem 0.3rem;
    width: min-content;
}

.imports .color-model .option {
    align-items: center;
    background: var(--col-bg3);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: space-evenly;
    transition: all 0.3s ease;
    width: 6rem;
}

.imports .color-model .option span {
    color: var(--box-border);
}

.imports .color-model .option .dot {
    border: 2px solid var(--dot-border);
    border-radius: 999px;
    height: 1rem;
    transition: all 0.3s ease;
    width: 1rem;
}

.imports .color-model .option .dot::before {
    background: var(--orange);
    border-radius: 999px;
    content: "";
    height: 0.5rem;
    margin-left: 0.125rem;
    margin-top: 0.125rem;
    opacity: 0;
    position: absolute;
    width: 0.5rem;
}

.imports .color-model #option1:checked ~ .btn-option1 .option,
.imports .color-model #option2:checked ~ .btn-option2 .option {
    background: var(--orange);
}

.imports .color-model #option1:checked ~ .btn-option1 .option .dot,
.imports .color-model #option2:checked ~ .btn-option2 .option .dot {
    background: var(--imports-selected);
    border-color: var(--imports-selected);
}

.imports .color-model #option1:checked ~ .btn-option1 .option .dot::before,
.imports .color-model #option2:checked ~ .btn-option2 .option .dot::before {
    opacity: 1;
}

.imports .color-model #option1:checked ~ .btn-option1 .option span,
.imports .color-model #option2:checked ~ .btn-option2 .option span {
    color: var(--imports-selected);
}

.imports .color-model input {
    display: none;
}

/*  
====================
		Main
====================
*/
main > div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* inputs */
#inputs {
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
}

.text-input #color {
    margin-top: 0;
}

.text-input input {
    border: 2px dotted black;
    box-shadow: var(--state-shadow);
    font-size: 2em;
    padding: 8px;
    text-align: center;
    width: 5em;
}

.text-input .suggestions {
    margin-top: 0.5rem;
    min-height: 2.4rem;
}

.text-input .suggestions-label {
    font-family: Montserrat, sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;
}

.text-input .suggestions ul {
    display: flex;
}

.text-input .suggestions li {
    margin-left: 1.4rem;
}

.text-input .suggestions li a {
    border-bottom: 1px dotted currentcolor;
    color: darkgray;
    cursor: help;
    font-family: monospace;
    font-size: 0.9rem;
    left: -6px;
    position: relative;
}

.text-input .suggestions ::marker {
    color: darkgray;
    font-size: smaller;
}

#picker {
    margin: 0;
}

/* color wheel fixes */
/* stylelint-disable selector-class-pattern */
.IroWheel,
.IroSlider {
    border: 1px solid black;
    border-radius: 999px;
}

.IroWheel {
    cursor: move;
}

.IroWheelLightness {
    height: 101% !important;
    left: -1px !important;
    top: -1px !important;
    width: 101% !important;
}

.IroSlider {
    cursor: ew-resize;
    background: black !important;
    box-sizing: unset;
}
/* stylelint-enable selector-class-pattern */

/* color values */
.other-values {
    font-weight: 300;
    margin: 3.5rem 0 1rem;
}

.other-values th {
    font-size: 1.2rem;
    font-weight: 500;
}

.other-values tr td:first-of-type span {
    margin-right: 1rem;
}

.other-values tr td:nth-of-type(2) {
    width: 220px;
}

.other-values tr td:nth-of-type(2) span:not([class]) {
    color: gray;
}

.other-values .red {
    color: red;
}

.other-values .green {
    color: lime;
}

.other-values .blue {
    color: blue;
}

.other-values .gray {
    color: darkgray;
}

.other-values .white {
    color: #eee;
}

/* outputs */
#outputs {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

#outputs .minecraft,
#outputs .minecraft-latest {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#outputs .label {
    font-size: 18px;
    font-style: italic;
}

#outputs a {
    height: max-content;
    width: max-content;
}

canvas {
    display: none;
}

/*  
=============================
		Responsiveness
=============================
*/
@media screen and (width <= 630px) {
    #inputs {
        gap: 0;
    }

    #outputs a,
    #outputs a img {
        height: 130px;
        width: 130px;
    }

    .text-input,
    .text-input input {
        width: 130px;
    }

    .text-input input {
        font-size: 1.7rem;
    }

    .text-input .suggestions-label {
        font-size: 0.8rem;
        line-height: 0.4rem;
    }

    .text-input .suggestions li a {
        font-size: 0.8rem;
    }

    .other-values {
        font-size: 0.9rem;
        margin: 2.5rem 0 1rem;
    }
}
