@import '/styles/global.css';

/*  
======================
		Header
======================
*/
header {
    align-items: center;
    background: var(--col-bg3);
    display: flex;
    height: 5.5rem;
    padding: 0.3rem 0;
    position: static;
    width: 100%;
}
header img {
    margin-right: 1.5rem;
    width: 4rem;
}
header > span:nth-child(2) {
    display: flex;
}
header .name {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
}
header .version {
    align-self: flex-end;
    color: #ffffffa0;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.5rem;
}
#return-main {
    align-items: center;
    border-right: 3px solid #666;
    cursor: pointer;
    display: flex;
    margin: auto 0.5rem;
    padding: 0.6rem 1rem;
    transition: all 0.2s ease;
}
#return-main img {
    margin-right: 0;
    vertical-align: middle;
}
#return-main:hover {
    background: #fff1;
    box-shadow: 0 0 10px 0 #fff1;
}

/*  
=======================
		Columns
=======================
*/
#wrapper {
    clear: both;
    display: flex;
    flex-grow: 1;
    margin-top: 1rem;
    width: 100%;
}
main,
aside {
    padding: 2rem;
    width: 50%;
}
/*  
=======================
		Main Col
=======================
*/
main {
    border-right: 1px solid var(--col-bg3);
    display: flex;
    flex-direction: column;
}
main section:last-of-type {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main section:last-of-type textarea {
    height: 100%;
    min-height: 18rem;
    max-height: none;
}
main section:not(:last-child) {
    border-bottom: 1px solid var(--col-bg3);
}
h3:not(.contributors h3) {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
/*  
=============================
		Aside
=============================
*/
canvas {
    display: none;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
aside section {
    display: flex;
    flex-direction: column;
}
aside section:nth-of-type(2) {
	justify-content: center;
	align-items: center;
    padding: 1rem 0;
}
aside section:last-of-type {
    flex-grow: 1;
}
aside table {
    table-layout: fixed;
    width: 100%;
    color: white;
    font-size: 14px;
}
aside th,
aside td {
    overflow: clip;
    border: 2px solid var(--box-border);
    padding: 7px;
}
aside th {
    background-color: #333;
}
aside td {
    background-color: #111;
}
.warning-name td {
    background-color: rgb(1, 35, 59);
}
.warning-name td:nth-of-type(1),
.warning-id td:nth-of-type(2) {
    color: rgb(255, 173, 173);
}
.warning-id td {
    background-color: rgb(59, 1, 11);
}

/*  
=======================
		General
=======================
*/
p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    margin-bottom: 0.8rem;
}
#warning {
    color: red;
    display: none;
    font-size: 0.8rem;
    font-weight: 200;
    text-align: justify;
}
.sec-err {
    color: red;
    font-size: 0.8rem;
    font-weight: 200;
}

/*  
=============================
		Responsivenes
=============================
*/
@media screen and (max-width: 830px) {
    body {
        overflow-x: hidden;
    }
    #wrapper {
        align-items: flex-end;
        flex-direction: column;
    }
    main,
    aside {
        border: none;
        width: 100%;
    }
    main section:nth-of-type(1) {
        height: fit-content;
    }
    aside {
        border-top: 2px solid var(--col-acc2);
    }
}
@media screen and (max-width: 630px) {
    #return-main {
        padding: 0.3rem 0.8rem;
    }
}
@media screen and (max-width: 380px) {
    aside .nbt-info input {
        width: 100%;
    }
    /* aside img#drawn {
		width: 80%;
	} */
}
