@import url("/styles/global.css");
@import url("/tools/common.css");

/*  
=======================
		Main Col
=======================
*/
main section:last-of-type {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main section:last-of-type textarea {
    height: 100%;
    min-height: 18rem;
    max-height: none;
}

/*  
=============================
		Aside
=============================
*/
canvas {
    display: none;
}

aside section:nth-of-type(2) {
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

aside section:nth-of-type(2) > div {
    text-align: center;
}

aside section:last-of-type {
    flex-grow: 1;
}

aside table {
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
}

aside th,
aside td {
    border: 2px solid var(--box-border);
    padding: 7px;
    overflow: clip;
}

aside th {
    background-color: #333;
}

aside td {
    background-color: #111;
}

.warning-name td {
    background-color: rgb(1 35 59);
}

.warning-name td:nth-of-type(1),
.warning-id td:nth-of-type(2) {
    color: rgb(255 173 173);
}

.warning-id td {
    background-color: rgb(59 1 11);
}

.warning-dup td:last-child {
    background-color: rgb(1 59 1);
}

/*  
=======================
		General
=======================
*/
.sec-err {
    color: red;
    font-weight: 200;
    font-size: 0.8rem;
}

a:not(#return-main, .link) {
    transition: all 0.2s ease;
}

a:not(#return-main, .link):hover {
    filter: brightness(80%);
}

a:not(#return-main, .link):active {
    box-shadow: var(--link-shadow);
    border-radius: 3px;
    background: var(--link-bgcolor);
}
