@import '/styles/toast.css';

/* font-awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap');

/* create variables */
:root {
    --col-bg: #1e1e1e;
    --col-bg2: #252525;
    --col-bg3: #323232;
    --col-acc: #444;
    --col-acc2: #4a4a4a;
    --orange: #cc9933;
    --state-shadow: 0 0 3px 2px var(--orange);
}
/* normalize margins and paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  
========================
		Main CSS
========================
*/
html {
    scroll-behavior: smooth;
    width: 100%;
}
body {
    background: var(--col-bg);
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width: 100%;
}
.hidden {
    display: none;
}
.soft-hidden {
    cursor: default;
    visibility: hidden;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.code {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    font-family: 'Fira Mono', monospace;
    padding: 0px 0.3rem;
}
/* checkboxes */
.checkbox-custom {
    opacity: 0;
    position: absolute;
}
.checkbox-label {
    align-items: center;
    display: flex;
    gap: 4px;
}
.checkbox-label .checkbox i {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.checkbox-custom:checked ~ label .checkbox i:nth-of-type(1) {
    display: initial;
    opacity: 1;
}
.checkbox-custom:not(:checked) ~ label .checkbox i:nth-of-type(2) {
    display: initial;
    opacity: 1;
}
/* hover and focus effect for buttons and inputs */
input:focus,
textarea:focus {
    box-shadow: var(--state-shadow);
    outline: none;
}
/* buttons */
button {
    background-color: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    height: max-content;
    padding: 0.2rem 0.3rem;
    transition: all 0.2s ease;
    width: max-content;
}
button:disabled {
    color: #aaa;
    cursor: default;
    opacity: 50%;
}
/*  
======================
		Header
======================
*/
header {
    align-items: center;
    background: var(--col-bg3);
    display: flex;
    height: 5.5rem;
    padding: 0.3rem 0;
    position: static;
    width: 100%;
}
header img {
    margin-right: 1.5rem;
    width: 4rem;
}
header > span:nth-child(2) {
    display: flex;
}
header .name {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
}
header .version {
    align-self: flex-end;
    color: #ffffffa0;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.5rem;
}
#return-main {
    align-items: center;
    border-right: 3px solid #666;
    cursor: pointer;
    display: flex;
    margin: auto 0.5rem;
    padding: 0.6rem 1rem;
    transition: all 0.2s ease;
}
#return-main img {
    margin-right: 0;
    vertical-align: middle;
}
#return-main:hover {
    background: #fff1;
    box-shadow: 0 0 10px 0 #fff1;
}

/*  
=======================
		Columns
=======================
*/
#wrapper {
    clear: both;
    display: flex;
    flex-grow: 1;
    margin-top: 1rem;
    width: 100%;
}
main,
aside {
    padding: 2rem;
    width: 50%;
}
/*  
=======================
		Main Col
=======================
*/
main {
    border-right: 1px solid var(--col-bg3);
    display: flex;
    flex-direction: column;
}
main section {
    padding: 1rem 0.5rem;
}
main section:not(:last-child) {
    border-bottom: 1px solid var(--col-bg3);
}

h3:not(.contributors h3) {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
main p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    margin-bottom: 0.8rem;
}
main label {
    color: white;
    font-size: 0.9rem;
    font-weight: 200;
    padding-left: 0.25rem;
    text-align: right;
}
main textarea {
    background-color: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    color: white;
    font-family: 'Fira Mono', monospace;
    height: 5rem;
    margin: 0.5rem 0;
    max-height: 16rem;
    min-height: 4rem;
    padding: 0.2rem;
    resize: none;
    transition: box-shadow 0.1s ease;
    width: 100%;
}
.sec-err {
    color: red;
    font-size: 0.8rem;
    font-weight: 200;
}
/* */
/*  
========================
		Aside Col
========================
*/
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
aside section {
    display: flex;
    flex-direction: column;
}
aside .templates th {
    color: white;
    font-size: 0.9rem;
    font-weight: 200;
    padding-right: 1rem;
    text-align: right;
}
aside .templates td .copy-div {
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-top: 0.2rem;
}
aside .templates div:not(aside .templates td .copy-div) {
    background-color: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    color: #aaa;
    font-family: 'Fira Code', monospace;
    font-size: 0.75rem;
    max-height: 15rem;
    overflow: auto;
    padding: 0.2rem 0.3rem;
    transition: all 0.2s ease;
    width: 25rem;
}
aside section > *:not(a) {
    padding: 0 0.5rem;
}
aside .headbox {
    height: 7.5rem;
    margin-bottom: 1rem;
}
aside .titlebox {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
aside .titlebox h3 {
    margin-right: 2rem;
}

/* contributors */
.contributors {
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0.8rem 1.1rem;
    position: fixed;
    right: 0;
}
.contributors button {
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    transition: none;
}
.contributors .list {
    background: var(--col-bg2) none repeat scroll 0% 0%;
    border: 1px solid var(--col-acc2);
    border-radius: 4px;
}
.contributors button i {
    transform: rotate(-90deg);
    transition: transform 0.4s ease;
}
.contributors .list:not(.hidden-height) ~ h3 i {
    transform: rotate(-180deg);
}
.contributors .list.hidden-height {
    overflow: hidden;
}
.contributors #contrib-list {
    list-style: none;
    margin: 0 1rem;
}
.contributors #contrib-list > li {
    margin: 0.5rem 0;
}
.tooltip {
    border-bottom: 1px dotted white;
    color: white;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    position: relative;
}
.tooltip .tooltiptext {
    background-color: var(--col-bg3);
    border: 1px solid var(--col-acc2);
    border-radius: 6px;
    bottom: -5px;
    color: #fff;
    max-width: 300px;
    opacity: 0;
    padding: 5px 5px 5px 25px;
    position: absolute;
    right: 110%;
    text-align: left;
    /* fade animation */
    transition: all 0.2s ease;
    visibility: hidden;
    width: max-content;
    z-index: 1;
}
.tooltip > span:nth-child(1) {
    cursor: help;
}
.tooltip .tooltiptext::after {
    border-color: transparent transparent transparent var(--col-acc2);
    border-style: solid;
    border-width: 5px;
    bottom: 10px;
    content: '';
    left: 100%;
    margin-top: -5px;
    position: absolute;
}
.tooltip:hover .tooltiptext,
.tooltip:active .tooltiptext {
    opacity: 1;
    visibility: visible;
}
.tooltip .tooltiptext ul {
    list-style-type: disc;
}
.tooltip .tooltiptext li span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    left: -7px;
    position: relative;
}
/*  
======================
		Footer
======================
*/
footer {
    background: var(--col-bg3);
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    width: 100%;
}
/* social media buttons styling */
.github-button-wrapper a {
    background: var(--col-bg);
    border-radius: 50px;
    box-shadow: 0 3px 5px black;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 40px;
}
.github-button-wrapper a:hover,
.github-button-wrapper a:focus,
.github-button-wrapper a:active {
    background: var(--col-bg3);
    color: white;
    width: 200px;
}
.github-button-wrapper a .icon {
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.2s ease;
    width: 40px;
}
.github-button-wrapper a .icon i {
    font-size: 20px;
    line-height: 40px;
}
.github-button-wrapper a span {
    font-weight: 500;
    line-height: 40px;
}
/*  
==============================
		Responsiveness
==============================
*/
@media screen and (max-width: 830px) {
    body {
        overflow-x: hidden;
    }
    #wrapper {
        align-items: flex-end;
        flex-direction: column;
    }
    main,
    aside {
        border: none;
        width: 100%;
    }
    aside {
        border-top: 2px solid var(--col-acc2);
    }
}
@media screen and (max-width: 630px) {
    #return-main {
        padding: 0.3rem 0.8rem;
    }
}
