@import url("/styles/global.css");
@import url("/tools/common.css");

/*  
=======================
		Main Col
=======================
*/
label {
    padding-left: 0.25rem;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: right;
}

/*  
========================
		Aside Col
========================
*/
.templates {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
}

.templates .label {
    margin-block: 5px;
    padding-right: 1rem;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: right;
}

.templates td .copy-result {
    display: inline-block;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
}

textarea#infobox,
textarea#essence-table {
    display: block;
    margin-block: 5px;
    width: 25rem;
    max-width: 90%;
    max-height: 15rem;
    resize: none;
}

/*  
=============================
		Responsiveness
=============================
*/
@media screen and (width <= 830px) {
    textarea#infobox,
    textarea#essence-table {
        width: 100%;
        max-width: unset;
    }
}
