@import '/styles/global.css';

/*  
======================
		Header
======================
*/
header {
    align-items: center;
    background: var(--col-bg3);
    display: flex;
    height: 5.5rem;
    padding: 0.3rem 0;
    position: static;
    width: 100%;
}
header img {
    margin-right: 1.5rem;
    width: 4rem;
}
header > span:nth-child(2) {
    display: flex;
}
header .name {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    /* white-space: nowrap; */
}
header .version {
    align-self: flex-end;
    color: #ffffffa0;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.5rem;
}
#return-main {
    align-items: center;
    border-right: 3px solid #666;
    cursor: pointer;
    display: flex;
    margin: auto 0.5rem;
    padding: 0.6rem 1rem;
    transition: all 0.2s ease;
}
#return-main img {
    margin-right: 0;
    vertical-align: middle;
}
#return-main:hover {
    background: #fff1;
    box-shadow: 0 0 10px 0 #fff1;
}

/*  
=======================
		Columns
=======================
*/
#grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

#grid-wrapper > div {
    margin: 40px;
}

/*  
=======================
		Main Col
=======================
*/
#grid-wrapper div div.input {
    border-bottom: 1px solid var(--col-bg3);
    padding-block: 30px;
}

#grid-wrapper div div.input:last-of-type {
    border-bottom: none;
    padding-bottom: none;
}

h3:not(.contributors h3) {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    margin-bottom: 0.8rem;
}
label {
    color: white;
    font-size: 0.9rem;
    font-weight: 200;
    padding-left: 0.25rem;
    text-align: right;
}

/*  
========================
		Aside Col
========================
*/
h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
.templates {
    margin-block: auto;
}
.templates th {
    color: white;
    font-size: 0.9rem;
    font-weight: 200;
    padding-right: 1rem;
    text-align: right;
}
.templates td .copy-result {
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-top: 0.2rem;
}
textarea#infobox,
textarea#essence-table {
    max-height: 15rem;
    width: 25rem;
    resize: none;
    display: block;
    margin-block: 5px;
    max-width: 90%;
}

/*  
==============================
		Responsiveness
==============================
*/
@media screen and (max-width: 830px) {
    body {
        overflow-x: hidden;
    }
}
@media screen and (max-width: 630px) {
    #return-main {
        padding: 0.3rem 0.8rem;
    }
}
