@import '/styles/global.css';
@import '/tools/common.css';

/*  
=======================
		Main Col
=======================
*/
#file-input {
    width: 100%;
}

/*  
======================
		Outputs
======================
*/
#outputs a {
    height: max-content;
    width: max-content;
}
canvas {
    display: none;
}