@import url("/styles/global.css");
@import url("/tools/common.css");

/*  
=======================
		Main Col
=======================
*/
#file-input {
    width: 100%;
}

/*  
======================
		Aside
======================
*/
aside a {
    width: max-content;
    height: max-content;
}

canvas {
    display: none;
}
