@import url("https://cdn.jsdelivr.net/gh/skyblock-wiki/wiki-assets@1.0/fonts/font-import/lib/mc1.8.9-full.css");
@import url("/styles/global.css");
@import url("/tools/common.css");

/*  
=======================
		Main Col
=======================
*/
#options-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*  
======================
		Aside
======================
*/
aside a {
    height: max-content;
    width: max-content;
}

aside a img {
    border: 1px solid var(--col-acc);
}

canvas {
    display: none;
}
