/* Imports */
@import url('/styles/toast.css');

/* Font-awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap');

/* Variables */
:root {
    --col-bg: #1e1e1e;
    --col-bg2: #252525;
    --col-bg3: #323232;
    --col-acc: #444;
    --col-acc2: #4a4a4a;
    --orange: #ed5f00;
    --hover-color: #c93;
    --state-shadow: 0 0 3px 2px var(--hover-color);
    --dot-border: #999;
    --box-border: #666;
    --imports-selected: white;
    --link-shadow: 0 0 10px 0 #fff1;
    --link-bgcolor: #fff1;
}

/* Normalize margins and paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background: var(--col-bg);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    min-height: 100vh;
    width: 100%;
}

.hidden {
    display: none;
    opacity: 0;
}

.soft-hidden {
    cursor: default;
    visibility: hidden;
}

.disallow-focusing {
    display: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    user-select: none;
}

.code {
    background: rgb(0 0 0 / 20%);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    font-family: 'Fira Mono', Consolas, monospace;
    padding: 0 0.3rem;
}

abbr {
    cursor: help;
}

/* checkboxes */
.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    align-items: center;
    display: flex;
    gap: 4px;
}

.checkbox-label .checkbox i {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.checkbox-custom:checked ~ label .checkbox i:nth-of-type(1) {
    display: initial;
    opacity: 1;
}

.checkbox-custom:not(:checked) ~ label .checkbox i:nth-of-type(2) {
    display: initial;
    opacity: 1;
}

/* Inputs */
button,
input[type='submit'] {
    color: white;
    background-color: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    cursor: pointer;
    height: max-content;
    padding: 0.2rem 0.3rem;
    transition: all 0.2s ease;
    width: max-content;
}

button:disabled,
input[type='submit']:disabled {
    color: #aaa;
    cursor: default;
    opacity: 0.5;
}

textarea {
    background-color: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    color: #aaa;
    font-family: 'Fira Mono', monospace;
    height: 5rem;
    margin: 0.5rem 0;
    max-height: 16rem;
    min-height: 4rem;
    padding: 0.2rem;
    resize: none;
    transition: box-shadow 0.1s ease;
    width: 100%;
}

input[type='text'] {
    background-color: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    color: #aaa;
    font-family: 'Fira Mono', monospace;
    margin: 0.5rem 0;
    padding: 0.2rem;
    resize: none;
    transition: box-shadow 0.1s ease;
    width: 16rem;
}

input:focus,
textarea:focus {
    box-shadow: var(--state-shadow);
    outline: none;
}

/* Contributors */
.page-contributors {
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    position: fixed;
    right: 0;
}

.page-contributors button {
    background: none;
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 300;
    transition: none;
}

.page-contributors .list {
    background: var(--col-bg2) none repeat scroll 0% 0%;
    border: 1px solid var(--col-acc2);
    border-radius: 4px;
}

.page-contributors button i {
    transform: rotate(-90deg);
    transition: transform 0.4s ease;
    margin-left: 5px;
}

.page-contributors .list:not(.hidden) ~ h3 i {
    transform: rotate(-180deg);
}

.page-contributors .list.hidden {
    overflow: hidden;
}

.page-contributors #contrib-list {
    list-style: none;
    margin: 0 1rem;
}

.page-contributors #contrib-list > li {
    margin: 0.5rem 0;
}

/* Footer */
footer {
    background: var(--col-bg3);
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    width: 100%;
}

.github-button-wrapper a {
    color: white;
    background: var(--col-bg);
    border-radius: 50px;
    box-shadow: 0 3px 5px black;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 40px;
}

.github-button-wrapper a:hover,
.github-button-wrapper a:focus,
.github-button-wrapper a:active {
    background: var(--col-bg3);
    width: 200px;
}

.github-button-wrapper a .icon {
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.2s ease;
    width: 40px;
}

.github-button-wrapper a .icon i {
    font-size: 20px;
    line-height: 40px;
}

.github-button-wrapper a span {
    font-weight: 500;
    line-height: 40px;
}

/* Tooltips */

.tooltip {
    border-bottom: 1px dotted white;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    position: relative;
}

.tooltip .tooltip-text {
    background-color: var(--col-bg3);
    border: 1px solid var(--col-acc2);
    border-radius: 6px;
    bottom: -5px;
    color: white;
    max-width: 300px;
    opacity: 0;
    padding: 5px 5px 5px 25px;
    position: absolute;
    right: 110%;
    text-align: left;

    /* fade animation */
    transition: all 0.2s ease;
    visibility: hidden;
    width: max-content;
    z-index: 1;
}

.tooltip > span:nth-child(1) {
    cursor: help;
}

.tooltip .tooltip-text::after {
    border-color: transparent transparent transparent var(--col-acc2);
    border-style: solid;
    border-width: 5px;
    bottom: 10px;
    content: '';
    left: 100%;
    margin-top: -5px;
    position: absolute;
}

.tooltip:hover .tooltip-text,
.tooltip:active .tooltip-text {
    opacity: 1;
    visibility: visible;
}

.tooltip .tooltip-text ul {
    list-style-type: disc;
}

.tooltip .tooltip-text li span {
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    left: -4px;
    position: relative;
}
