/* Imports */
@import url("/styles/toast.css");

/* Font-awesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap");

/* Variables */
:root {
    --col-bg: #1e1e1e;
    --col-bg2: #252525;
    --col-bg3: #323232;
    --col-acc: #444;
    --col-acc2: #4a4a4a;
    --orange: #ed5f00;
    --hover-color: #c93;
    --state-shadow: 0 0 3px 2px var(--hover-color);
    --dot-border: #999;
    --box-border: #666;
    --imports-selected: white;
    --link-shadow: 0 0 10px 0 #fff1;
    --link-bgcolor: #fff1;
}

/* Normalize margins and paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    color: white;
    font-family: Montserrat, sans-serif;
    background: var(--col-bg);
}

.hidden {
    display: none;
    opacity: 0;
}

.soft-hidden {
    visibility: hidden;
    cursor: default;
}

.disallow-focusing {
    display: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    user-select: none;
}

.code {
    padding: 0 0.3rem;
    font-family: "Fira Mono", Consolas, monospace;
    background: rgb(0 0 0 / 20%);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
}

abbr {
    cursor: help;
}

/* checkboxes */
.checkbox-custom {
    position: absolute;
    opacity: 0;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.checkbox-label .checkbox i {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.checkbox-custom:checked ~ label .checkbox i:nth-of-type(1) {
    display: initial;
    opacity: 1;
}

.checkbox-custom:not(:checked) ~ label .checkbox i:nth-of-type(2) {
    display: initial;
    opacity: 1;
}

/* Inputs */
button,
input[type="submit"] {
    width: max-content;
    height: max-content;
    padding: 0.2rem 0.3rem;
    color: white;
    background-color: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:disabled,
input[type="submit"]:disabled {
    color: #aaa;
    opacity: 0.5;
    cursor: default;
}

textarea {
    width: 100%;
    height: 5rem;
    min-height: 4rem;
    max-height: 16rem;
    margin: 0.5rem 0;
    padding: 0.2rem;
    color: #aaa;
    font-family: "Fira Mono", monospace;
    background-color: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    transition: box-shadow 0.1s ease;
    resize: none;
}

input[type="text"],
input[type="number"] {
    width: 16rem;
    margin: 0.5rem 0;
    padding: 0.2rem;
    color: #aaa;
    font-family: "Fira Mono", monospace;
    background-color: var(--col-bg2);
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    transition: box-shadow 0.1s ease;
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: var(--state-shadow);
}

/* Contributors */
.page-contributors {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 5px 10px;
    flex-direction: column;
}

.page-contributors button {
    font-weight: 300;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    background: none;
    border: none;
    transition: none;
}

.page-contributors .list {
    background: var(--col-bg2) none repeat scroll 0% 0%;
    border: 1px solid var(--col-acc2);
    border-radius: 4px;
}

.page-contributors button i {
    margin-left: 5px;
    transform: rotate(-90deg);
    transition: transform 0.4s ease;
}

.page-contributors .list:not(.hidden) ~ h3 i {
    transform: rotate(-180deg);
}

.page-contributors .list.hidden {
    overflow: hidden;
}

.page-contributors #contrib-list {
    margin: 0 1rem;
    list-style: none;
}

.page-contributors #contrib-list > li {
    margin: 0.5rem 0;
}

/* Footer */
footer {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    padding: 0.4rem 2rem;
    justify-content: center;
    justify-self: flex-end;
    background: var(--col-bg3);
}

.github-button-wrapper a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    color: white;
    text-decoration: none;
    background: var(--col-bg);
    border-radius: 50px;
    outline: none;
    box-shadow: 0 3px 5px black;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.github-button-wrapper a:hover,
.github-button-wrapper a:focus,
.github-button-wrapper a:active {
    width: 200px;
    background: var(--col-bg3);
}

.github-button-wrapper a .icon {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    transition: all 0.2s ease;
}

.github-button-wrapper a .icon i {
    font-size: 20px;
    line-height: 40px;
}

.github-button-wrapper a span {
    font-weight: 500;
    line-height: 40px;
}

/* Tooltips */

.tooltip {
    position: relative;
    display: inline-block;
    font-weight: 200;
    font-family: Montserrat, sans-serif;
    border-bottom: 1px dotted white;
}

.tooltip .tooltip-text {
    position: absolute;
    right: 110%;
    bottom: -5px;
    z-index: 1;
    width: max-content;
    max-width: 300px;
    padding: 5px 5px 5px 25px;
    color: white;
    text-align: left;
    background-color: var(--col-bg3);
    border: 1px solid var(--col-acc2);
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.tooltip > span:nth-child(1) {
    cursor: help;
}

.tooltip .tooltip-text::after {
    position: absolute;
    bottom: 10px;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--col-acc2);
    content: "";
}

.tooltip:hover .tooltip-text,
.tooltip:active .tooltip-text {
    opacity: 1;
    visibility: visible;
}

.tooltip .tooltip-text ul {
    list-style-type: disc;
}

.tooltip .tooltip-text li span {
    position: relative;
    left: -4px;
    font-size: 0.8rem;
    font-family: Montserrat, sans-serif;
}
