/*  
===================================
		General Section CSS
===================================
*/
section.tools,
section.downloads,
section.contributors {
    padding: 1.5rem 2rem;
}

.tools h1,
.downloads h1,
.contributors h1 {
    position: relative;
    top: 200px;
    margin-top: -200px;
    margin-bottom: calc(2rem + 200px);
    color: white;
    font-weight: 400;
    font-size: 2rem;
}

.tools > ul,
.downloads > ul,
.contributors > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 1.5rem;
}

.tools > ul > li,
.downloads > ul > li,
.contributors > ul > li {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0.5rem;
    box-shadow: 0 0 8px 3px #0008;
    border-radius: 5px;
    background: var(--col-bg2);
    padding: 0.5rem;
    width: 300px;
}

.tools > ul > li > a,
.downloads > ul > li > a {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 999px;
    width: 50%;
}

.tools > ul > li > a > img,
.downloads > ul > li > a > img {
    cursor: pointer;
    width: 100%;
}

.contributors > ul > li {
    height: unset;
    min-height: max-content;
}

.tools li img,
.downloads li img,
.contributors li img {
    align-self: center;
    width: 50%;
}

.tools li hr,
.downloads li hr,
.contributors li hr {
    margin: 1rem 0;
    border-color: var(--col-acc);
}

.tools li h4,
.downloads li h4,
.contributors li h4 {
    margin-bottom: 0.3rem;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.tools li .version,
.downloads li .version,
.contributors li .version {
    align-self: flex-end;
    margin-right: 0.5rem;
    color: gray;
    font-size: 0.825rem;
}

.tools li p,
.downloads li p {
    margin: 0.5rem 0;
    color: white;
    font-weight: 200;
    font-size: 0.8rem;
}

.tools li .links,
.downloads li .links,
.contributors li .links {
    display: flex;
    align-content: center;
    margin: auto 0 0.3rem 0.2rem;
}

.tools li .links > *:not(:first-child),
.downloads li .links > *:not(:first-child),
.contributors li .links > *:not(:first-child) {
    margin-left: 0.5rem;
}

.tools li .links .link,
.downloads li .links .link,
.contributors li .links .link {
    display: flex;
    align-content: center;
    align-self: center;
    transition: background-color 0.2s ease;
    border: 1px solid var(--col-acc2);
    border-radius: 4px;
    background: transparent;
    padding: 0.15rem 0.3rem;
    color: #ccc;
    font-size: 0.9rem;
    text-decoration: none;
}

.tools li .links .link img,
.downloads li .links .link img,
.contributors li .links .link img {
    width: 20px;
    height: 20px;
}

.tools li .links .link:hover,
.tools li .links .link:focus,
.downloads li .links .link:hover,
.downloads li .links .link:focus,
.contributors li .links .link:hover,
.contributors li .links .link:focus {
    background: #fff1;
}

.tools li .links .line,
.downloads li .links .line,
.contributors li .links .line {
    display: inline-block;
    border-left: 1px solid var(--col-acc2);
    height: 100%;
}

.tools > ul > li.sitetool::after {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.4rem;
    border-radius: 8px;
    background-color: var(--col-bg2);
    padding: 0.2rem;
    content: "★ Site Tool";
    font-size: small;
}

/*  
============================
		Contributors
============================
*/
.contributors > ul > li > a {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 999px;
    width: 50%;
}

.contributors > ul > li > a > img {
    cursor: pointer;
    border-radius: 999px;
    width: 100%;
}

.contributors .task-list {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    list-style-type: disc;
}

.contributors .task-list li {
    margin: 0.2rem 0;
    color: white;
    font-weight: 200;
    font-size: 0.8rem;
}

.contributors .task-list li * {
    position: relative;
    left: -4px;
}

.contributors .discord {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

body.has-hover .contributors .discord:hover > .discord-tooltip,
body.has-hover .contributors .discord:focus > .discord-tooltip,
body.has-hover .contributors .discord:active > .discord-tooltip {
    visibility: visible;
}

.contributors .discord-tooltip {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    transform: translate(-40%, -125%);
    visibility: hidden;
    cursor: pointer;
    border: 1px solid var(--col-acc);
    border-radius: 6px;
    background: var(--col-bg);
    padding: 0.2rem 0.4rem;
    width: max-content;
    height: max-content;
}

.contributors .discord-tooltip::after {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 0.4rem);
    border-width: 5px;
    border-style: solid;
    border-color: var(--col-acc2) transparent transparent transparent;
    content: "";
}

.contributors .discord-tooltip span {
    font-family: monospace;
}

.contributors .discord-tooltip .copy-text,
.contributors .discord-tooltip .copy-popup {
    opacity: 0.75;
    font-size: 0.65rem;
}

.contributors .discord-tooltip .copy-popup {
    display: none;
    color: limegreen;
}

.contributors .discord-tooltip.copied .copy-text {
    display: none;
}

.contributors .discord-tooltip.copied .copy-popup {
    display: block;
}

/*  
=============================
		Responsiveness
=============================
*/
@media screen and (width <= 1000px) {
    section.tools,
    section.downloads,
    section.contributors {
        padding: 1.5rem 3rem;
    }

    .tools ul,
    .downloads ul,
    .contributors ul {
        margin: 0 1.2rem;
    }
}

@media screen and (width <= 730px) {
    section.tools,
    section.downloads,
    section.contributors {
        padding: 0.75rem 1rem;
    }

    .tools > ul,
    .downloads > ul,
    .contributors > ul {
        margin: 0 1.2rem;
    }

    .tools > ul > li,
    .downloads > ul > li {
        /* height: 300px; */
        width: 220px;
    }

    .contributors > ul > li {
        /* height: 300px; */
        width: 220px;
    }

    .tools li h4,
    .downloads li h4,
    .contributors li h4 {
        font-size: 0.9rem;
    }

    .tools li .version,
    .downloads li .version,
    .contributors li .version {
        margin-right: 0.45rem;
        font-size: 0.8rem;
    }

    .tools li p,
    .downloads li p,
    .contributors li ul {
        margin: 0.5rem 0;
        font-size: 0.75rem;
    }

    .tools li .links .link,
    .downloads li .links .link,
    .contributors li .links .link {
        padding: 0.135rem 0.27rem;
        font-size: 0.82rem;
    }
}

@media screen and (width <= 600px) {
    section.tools,
    section.downloads,
    section.contributors {
        padding: 0.75rem 1.5rem;
    }

    .tools > ul,
    .downloads > ul,
    .contributors > ul {
        margin: 0 1.1rem;
    }

    .tools > ul > li,
    .downloads > ul > li {
        /* height: 280px; */
        width: 190px;
    }

    .contributors > ul > li {
        /* height: 280px; */
        width: 190px;
    }

    .tools li h4,
    .downloads li h4,
    .contributors li h4 {
        font-size: 0.85rem;
    }

    .tools li .version,
    .downloads li .version,
    .contributors li .version {
        margin-right: 0.45rem;
        font-size: 0.74rem;
    }

    .tools li p,
    .downloads li p,
    .contributors li ul {
        margin: 0.5rem 0;
        font-size: 0.7rem;
    }

    .tools li .links .link,
    .downloads li .links .link,
    .contributors li .links .link {
        padding: 0.125rem 0.25rem;
        font-size: 0.8rem;
    }
}

@media screen and (width <= 500px) {
    section.tools,
    section.downloads,
    section.contributors {
        padding: 0.5rem 1rem;
    }

    .tools > ul,
    .downloads > ul,
    .contributors > ul {
        margin: 0 1rem;
    }

    .tools > ul > li,
    .downloads > ul > li {
        /* height: 250px; */
        width: 180px;
    }

    .contributors > ul > li {
        /* height: 250px; */
        width: 180px;
    }

    .tools li h4,
    .downloads li h4,
    .contributors li h4 {
        font-size: 0.8rem;
    }

    .tools li .version,
    .downloads li .version,
    .contributors li .version {
        margin-right: 0.4rem;
        font-size: 0.7rem;
    }

    .tools li p,
    .downloads li p,
    .contributors li ul {
        margin: 0.5rem 0;
        font-size: 0.65rem;
    }

    .tools li .links .link,
    .downloads li .links .link,
    .contributors li .links .link {
        padding: 0.1rem 0.2rem;
        font-size: 0.75rem;
    }
}
