@import url("./sections.css");
@import url("./global.css");

/* logo link styles */
.logo a,
a:not(.link) {
    text-decoration: none;
    transition: all 0.3s ease;
}

a:not(.link):hover {
    filter: brightness(80%);
}

a:not(.link):active {
    background: var(--link-bgcolor);
    border-radius: 3px;
    box-shadow: var(--link-shadow);
}

.logo > a {
    margin: 0.25rem;
    padding: 0.5rem;
}

/*  
======================
		Header
======================
*/
header {
    align-items: center;
    background: var(--col-bg3);
    display: flex;
    height: 5.5rem;
    padding: 0.3rem 6rem 0.3rem 4rem;
    position: static;
    width: 100%;
}

header .logo {
    align-items: center;
    display: flex;
}

header .logo img {
    margin-right: 1.5rem;
    width: 4rem;
}

header .logo > span {
    display: flex;
}

header .logo .name,
header .logo .name-short {
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
}

header .logo .name-short {
    display: none;
}

header .logo .version {
    align-self: flex-end;
    color: #ffffffa0;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.5rem;
}

header nav {
    display: flex;
    height: 100%;
    justify-content: stretch;
    margin-left: auto;
    padding-left: 4rem;
    width: 100%;
}

header nav a {
    align-items: center;
    border-radius: 999px;
    color: white;
    display: flex;
    flex-grow: 1;
    font-family: Montserrat, sans-serif;
    height: calc(100% - 1rem);
    justify-content: center;
    margin: 0.5rem 1rem;
    outline: none;
    text-decoration: none;
    transition: all 0.2s ease;
}

header nav a:hover,
header nav a:focus {
    background: #fff1;
    box-shadow: 0 0 10px 0 #fff1;
}

header .hamburger {
    display: none;
}

/*  
========================
		Main CSS
========================
*/
body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

/* 
CSS for "tools", "downloads", and "contributors" sections is loaded on top

source file: ROOT/styles/sections.css
*/

/*  
=============================
		Responsiveness
=============================
*/
@media screen and (width <= 1000px) {
    header {
        height: 3.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header .logo img {
        margin: 0.5rem;
        width: 2.4rem;
    }

    header .logo .name {
        font-size: 1.15rem;
    }

    header .logo .version {
        font-size: 0.8rem;
    }

    header nav {
        padding-left: 1rem;
    }

    header nav a {
        height: calc(100% - 0.4rem);
        margin: 0.2rem 0.5rem;
    }
}

@media screen and (width <= 730px) {
    header .logo .name {
        display: none;
    }

    header .logo .name-short {
        display: inline;
    }
}

@media screen and (width <= 600px) {
    header nav {
        background: #0005;
        flex-direction: column;
        height: max-content;
        margin-left: 3rem;
        position: absolute;
        right: -55%;
        top: 0;
        transition: right 0.4s ease;
        width: 55%;
    }

    header nav.active {
        right: 0;
    }

    header nav a {
        height: 2.5rem;
        justify-content: flex-start;
        margin: 0.5rem 3rem 0.5rem 0.5rem;
        padding: 0.3rem;
    }

    header .hamburger {
        align-items: center;
        cursor: pointer;
        display: block;
        display: flex;
        flex-direction: column;
        height: 2.6rem;
        justify-content: center;
        margin: 0.5rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.6rem;
    }

    header .hamburger span {
        border-top: 1px solid white;
        margin: 0.4rem 0;
        transition:
            all 0.2s ease,
            opacity 0.1s ease;
        width: 2.6rem;
    }

    .hamburger.active span:nth-of-type(1) {
        position: relative;
        top: 13px;
        transform: rotate(45deg);
    }

    .hamburger.active span:nth-of-type(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-of-type(3) {
        position: relative;
        top: -13px;
        transform: rotate(-45deg);
    }
}
