/*
======================
		Toasts
======================
*/
.toast {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    max-width: 400px;
    min-height: 1.5rem;
    margin: auto;
    padding: 6px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: sans-serif;
    text-align: center;
    border-left: 6px solid currentcolor;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 75%);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.2s,
        top 0.2s,
        visibility 0.2s;
}

.toast-message {
    padding: 0 1rem;
    flex-grow: 1;
    text-align: justify;
}

.toast-icon {
    margin-left: 0.3rem;
    color: currentcolor;
}

.toast-close {
    min-width: 16px;
    height: 100%;
    align-self: flex-start;
    color: currentcolor;
    opacity: 0.5;
    cursor: pointer;
}

.toast-visible {
    top: 20px;
    opacity: 1;
    visibility: visible;
}

.toast-success {
    color: #42742b;
    background: #bdeca8;
    border-color: #54a330;
}

.toast-info {
    color: #4d7fa3;
    background: #cce8f4;
    border-color: #4d7fa3;
}

.toast-disallow,
.toast-error {
    color: #aa3132;
    background: #ebc8c2;
    border-color: #aa3132;
}

.toast-warn {
    color: #927947;
    background: #f8f3d6;
    border-color: #927947;
}
